@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mukta:wght@700&display=swap');

@font-face {
    font-family: MusicLogo;
    src: url(../public/Musicografi.ttf);
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* My CSS */

body {
    text-align: center;
	font-family: 'Mukta', sans-serif;
}

.app-container {
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.header {
	margin-top: 25px;
	font-family: 'MusicLogo';
	font-size: 600%;
}

.loading-screen {
	display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 45vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom: 20px;
	font-size: 200%;
	width: 100%;
}

.card-img {
	max-width: 100%;
	max-height: 100%;
}

.mult-choice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mult-choice-buttons {
    margin: 3px;
	background-color: black;
}

.mult-choice-buttons:hover {
	background-color: black;
}

.start-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
	width: 80%;
	padding: 10px;
	border: black solid 2px;
}

.start-genre-buttons {
	margin-bottom: 10px;
	margin-left: 5px;
	width: 40%;
	/* background-color: black; */
	border: solid black 1px;
}

.start-button {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 70%;
	height: 100px;
	font-size: 400%;
	background-color: black;
	border: solid black 1px;
}

.start-button:hover {
	background-color: rgba(0, 0, 0, 0.431);
	background-image: url('../public/1920-piano-synthesizer-keys-music-background-black-and-white.png');
	text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.start-flex {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
}

.start-genre-flex {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	align-items: center;
}

.start-genre-text {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 200%;
}

#score-progress-bar {
	width: 50vw;
	margin-top: 25vh;
}

#score-you-scored {
	margin-bottom: 5vh;
}

.score-play-again-button {
	margin-top: 25px;
}

@media (max-width: 829px) {
	.header {
		font-size: 400%;
	}
}

@media (max-width: 553vw) {
	.header {
		font-size: 300%;
	}
}

@media (min-width: 830px) {
	.header {
		font-size: 600%;
	}
}